@{
  Layout = "_Layout";
}

@using Factory.Models;


<div class="headerpadding"></div>
<hr />
<h1>Engineers & Machines</h1>

@if (@Model.Count == 0)
{
  <h3>No engineer / machine combinations have been added yet!</h3>
} 

@foreach (EngineerMachine EngineerMachine in Model)
{
}


<p>@Html.ActionLink("Manage EngineerMachines", "Create", "Tags")</p>
<p>@Html.ActionLink("Add new machine", "Create", "Machines")</p>
<p>@Html.ActionLink("Add new engineer", "Create", "Engineers")</p>
