@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<div class=headerpadding></div>

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type="submit" value="Add new machine" />
}

<p>@Html.ActionLink("Show all machines", "Index")</p>