@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Engineer;

<div class=headerpadding></div>

<h4>Add a new Engineer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)

  <input type="submit" value="Add new engineer" />
}

<p>@Html.ActionLInk("Show all engineers", "Index")</p>